.Rproj.user
.Rbuildignore
.Rhistory
.travis.yml
.trash
vignettes/*-blx.bib
vignettes/*-concordance.tex
vignettes/*.log
vignettes/*.pdf
vignettes/*.run.xml
vignettes/*.synctex.gz
vignettes/*.tex
vignettes/*.out
vignettes/*.aux

