import(methods)
importFrom(foreach, "%:%")
importFrom(foreach, "%do%")
importFrom(foreach, "%dopar%")
importFrom(foreach, foreach)
importFrom(NOISeq, tmm)
importFrom(openxlsx, write.xlsx)
importFrom(openxlsx, read.xlsx)
importFrom(openxlsx, getSheetNames)
importFrom(testthat, test_that)
importFrom(testthat, expect_equal)
importFrom(gplots, heatmap.2)
importFrom(ggplot2, ggplot)
importFrom(ggplot2, aes)
importFrom(ggplot2, geom_violin)
importFrom(ggplot2, ggtitle)
importFrom(ggplot2, coord_cartesian)
importFrom(ggplot2, geom_hline)
importFrom(ggplot2, geom_line)
importFrom(ggplot2, geom_point)
importFrom(ggplot2, geom_smooth)
importFrom(ggplot2, theme)
importFrom(ggplot2, scale_fill_manual)
importFrom(ggplot2, scale_x_discrete)
importFrom(ggplot2, scale_colour_discrete)
importFrom(ggplot2, ggsave)
importFrom(ggplot2, element_text)
importFrom(ggplot2, element_blank)
importFrom(ggplot2, element_line)
importFrom(ggplot2, theme_bw)
importFrom(ggplot2, xlab)
importFrom(ggplot2, ylab)
importFrom(ggplot2, scale_fill_gradient2)
importFrom(Rsamtools, indexBam)
importFrom(exomeCopy, countBamInGRanges)
importFrom(S4Vectors, NROW)
importFrom(grDevices, boxplot.stats)
importFrom(stats, mad, qnorm, rpois, fivenum, kmeans)
importFrom(utils, read.table)
importFrom(utils, read.csv)
importFrom(utils, data)
importFrom(grDevices, png)
importFrom(grDevices, dev.off)
importFrom(chromPlot, chromPlot)
importFrom(stringr, str_replace)
importFrom(graphics, barplot)
importFrom(reshape2, melt)
importFrom(GenomeInfoDb, dropSeqlevels)
importFrom(GenomicRanges, seqnames)
importFrom(GenomicRanges, GRanges)
importFrom(GenomicRanges, elementMetadata)
importFrom(GenomicRanges, "elementMetadata<-")  # why is this needed ?
importFrom(GenomicRanges, start)
importFrom(GenomicRanges, end)
importFrom(IRanges, quantile)
importFrom(IRanges, median)
importFrom(IRanges, IQR)
importFrom(IRanges, IRanges)
importFrom(IRanges, sd)
importFrom(plyr, revalue)
# Exported functions
export(NormalizeCounts)
export(Background)
export(ReportTables)
export(BedToGenomicRanges)
export(ReadCountsFromBam)
export(BootList)
export(PlotBootstrapDistributions)
export(CombinedNormalizedCounts)
export(WriteListToXLSX)
export(ReadXLSXToList)
export(IndexMultipleBams)
