import(foreach, plyr, cn.mops, Rsamtools, exomeCopy, matrixStats, xlsx, ggplot2)
export(Background)
export(ReportTables)
export(BedToGenomicRanges)
export(ReadCountsFromBam)
export(BootList)
export(PlotBootstrapDistributions)
export(CombinedNormalizedCounts)
export(WriteListToXLSX)
